<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Home Page</h1>
    <div class="container">
      <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)" class="myLoginForm">
        <div class="row">
          <div class="form-group">
            <div class="form-group">
              <label for="private">Private key:</label>
                <input class="form-control input-lg" type="text" formControlName="private" id="private" placeholder="Place your private key here">
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary btn-lg px-4 gap-3">Login with Private Key</button>
            </div>
          </div>
        </div>
      </form>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Cats are funny!</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Connect wallet</button>
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3" routerLink="/dashboard">Go to Dashboard</button>
      </div>
    </div>
  </div>
</div>
