<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Dashboard</h1>
    <button type="button" class="btn btn-primary btn-lg px-4 gap-3" routerLink="/cast-votes">Cast Votes</button>
    <button type="button" class="btn btn-primary btn-lg px-4 gap-3" routerLink="/delegate">Delegate</button>
    <button type="button" class="btn btn-primary btn-lg px-4 gap-3" routerLink="/query-results">Query Results</button>
    <button type="button" class="btn btn-primary btn-lg px-4 gap-3" routerLink="/">Back</button>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">This is the token contract address: {{tokenContractAddress}}</p>
      <p class="lead mb-4">This is my wallet address: {{walletAddress}}</p>
      <p class="lead mb-4">This account has a ETH value of: {{balance}}</p>
    </div>
</div>
      <div class="container">
        <form [formGroup]="claimTokensForm" (ngSubmit)="claimTokens(claimTokensForm)" class="myForm">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="name">Name:</label>
                  <input type="text" formControlName="name" id="name" placeholder="Name">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="id">Id:</label>
                    <input type="text" formControlName="id" id="id" placeholder="Id">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <button type="submit" [disabled]="claimTokensForm.invalid" class="btn btn-primary btn-lg px-4 gap-3" >Claim Tokens</button>
              </div>
            </div>
          </div>
        </form>
      </div>

