<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Dashboard</h1>
    <button type="button" class="btn btn-primary btn-lg px-4 gap-3" routerLink="/">Back</button>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">This is the token contract address: {{tokenContractAddress}}</p>
      <p class="lead mb-4">This is my wallet address: {{walletAddress}}</p>
      <p class="lead mb-4">This account has a ETH value of: {{balance}}</p>

      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <form>
            <input type="text" placeholder="Your name" name="name">
            <input type="text" placeholder="Your id" name="id">
        </form>
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Claim Tokens</button>
      </div>
    </div>
</div>